div#album_detail.d-flex.w-100
    - const default_cover = '/images/music_cover_default_black.png'
    - const album_cover = (null === album.cover_art_file_name ? default_cover : '/covers/' + album.cover_art_file_name);
    - const album_name = (null === album.title ? "None" : album.title);
    - const album_artists = (null === album.artists ? "None" : album.artists);
    - const album_genres = (null === album.genres ? "None" : album.genres);
    - const album_tracks = (null === album.tracks ? [] : album.tracks);
    - const tracks_len = album_tracks.length;
    - const album_id = (null === album.id ? 'None' : album.id);
    - const delete_album_id = (null === album.id ? 'None' : '/album/delete/' + album_id);
    .row.flex-row.w-100
        #album_info.col
            .d-flex.flex-column
                #album_detail_cover.position-relative.text-center
                    .album_card.card.mr-5
                        div.album_cover_in_detail_page
                            .album_cover_image
                                img.card-img-top(src=album_cover)
                            img.card-img-top.album_play_icon(src='/images/circled_play.png')
                #album_detail_intro.position-relative.text-center
                    h4.text-white.noselect #{album_name}
                    h4.text-white.noselect  #{album_artists}
                    h6.text-white.noselect Genres #{album_genres}
                    button.btn.btn-secondary(id="album_detail_play_btn") PLAY
                    p.text-white.noselect #{tracks_len} TRACKS
                    d-inline-block(id="album_detail_icon_list")
                        i.far.fa-heart.text-white.d-inline.mr-4(id="like_icon")
                        .dropdown.d-inline
                            i.fas.fa-ellipsis-h.text-white(id="albumDropdownMenu" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='cursor: pointer;')
                            .dropdown-menu(aria-labelledby="albumDropdownMenu")
                                a.dropdown-item Add to Playlist
                                a.dropdown-item Copy Album Link
                                //a.dropdown-item Share to Other
                                a.dropdown-item.delete_album_in_detail_page(href=delete_album_id) Delete Album

        #album_tracks.col
            .d-flex
                #album_detail_track_list.list-group
                    for track in album_tracks
                        - const track_name = (null === track.title ? 'None' : track.title)
                        - const artist_name = (null === track.artists ? 'Anonymous' : track.artists)
                        - const track_filename = (null === track.file_name ? '' : '/tracks/'+track.file_name)
                        - const track_cover = (null === track.cover_art_file_name ? '' : '/covers/'+track.cover_art_file_name)
                        - const track_lyric = (null === track.lyrics ? '' : '../lyrics/'+track.lyrics)
                        - const album_name = (undefined === track.album_id ? 'None' : track.album_id.title)
                        - const genres_name = (null === track.genres ? 'None' : track.genres)
                        - const duration = (undefined === track.duration ? 'None' : track.duration)
                        .list-group-item.track_list
                            .row.flex-nowrap
                                span.track_list_artist(style='display: none;') #{artist_name}
                                span.track_list_filename(style='display: none;') #{track_filename}
                                span.track_list_cover(style='display: none;') #{track_cover}
                                span.track_lyric(style='display: none;') #{track_lyric}
                                .col.track_list_icon
                                    i.material-icons.text-white.noselect music_note
                                .col.track_list_title
                                    .text-white.noselect #{track_name}
                                .col.d-flex.track_list_duration
                                    .text-white.noselect #{duration}
                                    .dropdown
                                        i.material-icons.text-white.noselect.ml-5.track_list_more_icon.hidden_icon(id="trackDropdownMenu"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") more_horiz
                                        .dropdown-menu(aria-labelledby="trackDropdownMenu")
                                            //a.dropdown-item Add to Player
                                            a.dropdown-item Copy Track Link
                                            //a.dropdown-item Share to Other
                                            a.dropdown-item Delete Track